// Section
section {
  padding: $section-padding;
}

// Fonts
html {
  font-size: 14px;
  line-height: 1.68em;
  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }
}

h1,
h2 {
  font-family: $font-primary;
}

// Headings

h1 {
  margin-bottom: $space-7;
  font-size: 2.75rem;
}

h2 {
  font-size: 1.125rem;
  margin-top: $space-5;
  margin-bottom: $space-3;
}

// Text
.lead {
  font-size: 1.75rem;
  text-shadow: $text-shadow;
  margin-bottom: $space-8;
}

// Buttons
.btn {
  padding: $space-4 $space-7;
  text-transform: uppercase;
  box-shadow: $text-shadow;
  transition: $transition;
  &:hover {
    background: black !important;
    border: none;
  }
}

// Inputs
input {
  width: 100%;
  border: $border;
  padding: $space-3 $space-5;
  border-radius: $border-radius;
}

input::placeholder {
  text-transform: uppercase;
}

input[type="submit"] {
  background: $primary-color;
  color: $secondary-color;
  border: none;
}

// Footer
footer {
  padding: $space-8 0px;
  color: $secondary-color;
  background: $third-color;
}

// Special
.row-margin {
  margin-top: $space-6;
}

.box-shadow {
  box-shadow: $text-shadow;
}
